@font-face {
    font-family:"star" ;
    src: url(Fonts/Star\ Crush.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(30, 45, 20);
    height:100px;
    width: 100px;
}

.yourmom1{
    position:absolute;
    left: 500px;
    top: 320px;

}

.yourmom1 p{
    font-family: "star", sans-serif;
    font-size: 2.5rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right:1px solid;
    animation: typing 2s steps(21) forwards, blink 1s 3s step-end infinite;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.yourmom2{
    position:absolute;
    left: 650px;
    top: 400px;

}

.yourmom2 p{
    font-family: "star", sans-serif;
    font-size: 1.5rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right:1px solid;
    opacity:0;
    animation: typing 2s steps(21) forwards, blink 1s 3s step-end infinite;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}

@keyframes typing{
    from{
        width: 0;
        opacity:1;
    }
    to{
        width: 100%;
        opacity: 1;
    }
}

.boom{
    position:absolute;
    left: 330px;
    top: 100px;
}

.boom1{
    height:500px;
    width:800px;
    opacity: 0;
    animation: Boom 1s forwards;
    animation-delay: 4.7s;
}

@keyframes Boom{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

