  @font-face {
    font-family: "messy" ;
    src: url(Fonts/SimpleHandmade.ttf);
    font-weight: normal;
    font-style: normal;
  }  
    
body{
    height: 400px;
    width: 550px;
    background-image:url("Images/paper.png");
    background-size: cover;
}

nav{
    background-color: rgb(135, 169, 85);
    height: 45px;
    width: 700px;
    border-radius: 30px;
    position:absolute;
    left: 400px;
    top: 40px;
    opacity: 50%;
}

.home{
    text-decoration: none;
    color: rgb(211, 255, 174);
    position: absolute;
    left: 40px;
    top: 16px;
}

.art{
    text-decoration: none;
    color: rgb(211, 255, 174);
    position: absolute;
    left: 190px;
    top: 16px;
}

.coding{
    text-decoration: none;
    color: rgb(211, 255, 174);
    position: absolute;
    left: 350px;
    top: 16px;
}

.socials{
    text-decoration: none;
    color: rgb(211, 255, 174);
    position: absolute;
    left: 580px;
    top: 16px;
}

.border{
    position: absolute;
    left: -10px;
    top: 500px;
    z-index: 2;
}

.bodyoftext{
    font-family: "messy", sans-serif;
    font-size: 35px;
    white-space: 70px;
    text-align: left;
    position: absolute;
    width: 500px;
    left: 500px;
    top: 200px;
}