@font-face {
    font-family:"star" ;
    src: url(Fonts/Star\ Crush.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    height: 400px;
    width: 550px;
    background-image:url("Images/paper.png");
    background-size: cover;
}


.border{
    position: absolute;
    left: -10px;
    top: 210px;
    z-index: 2;
}

.mini{
    z-index: 5;
    left: 150px;
    position: absolute;
    top: 200px;
    rotate: 12deg;
    height: 400px;
    width: 400px;
}

.button{
    position: absolute;
    z-index: 7;
    height:200px;
    width: 200px;
    top: 250px;
    left: 120px;
    rotate: 35deg;
}

.k{
    position: absolute;
    left: 500px;
    
}
.o{
    position: absolute;
    left: 700px;
    rotate: 351deg;
}

.m{
    position: absolute;
    left: 890px;

}

.i{
    position: absolute;
    left: 1050px;
}

.options1{
position: absolute;
top: 465px;
left: 600px;
}

.options1 p{
    font-family:"star", sans-serif;
    font-size: 2.5rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right:1px solid;
    animation: typing 2s steps(21) forwards, blink 1s 3s step-end infinite;
    

}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.options2{
position: absolute;
top: 465px;
left: 1000px;
}

.options2 p{
    font-family:"star", sans-serif;
    font-size: 2.5rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right:1px solid;
    animation: typing 2s steps(21) forwards, blink 1s 3s step-end infinite;
    

}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}